body {
    background-color: #00FFFF;
}
 .image , .titre{
    border:  solid;
    border-width: 10px;
    border-color: blue;
    background-color:  red;
    margin-right: 25%;
    margin-left: 25%;
    
}
.titre {
    height: 8%;
}
h1 {
    
    margin: 10px;
    text-align: center;
    height: 90%;
}
img{
    position:relative;
    width: 99.9%;
    
    overflow:auto ;
}

div {
    text-align: center;
}