
@media screen{body
{
	background-color: #58D3F7;
	padding: 0%;

}
h1
{
color:black; 
 border: solid;
 border-color: blue;
 border-width: 7px;
 margin-left: 30%;
 margin-right: 30%;
 background-color: red;
 font-weight: bold;
 border-right-color: black;
 border-bottom-color: black;
} 
h3{
	display: inline;
	border: 10px;
}
h2
{
text-decoration: underline red;
position:relative; 
  left:20px ; 
  top: 1px;
  color:red; 
} 
div {
	background-color: white;
}
p{
  position:relative; 
  left:30px ; 
  top: 0px;

}

img{
  height: 100px;
  width: 100px;
  float:right;
  margin: 15px;
}

ul{
	list-style: none;

  text-align: center;
}


table {
	position:relative; 
	left: 2%
}
th{
	background-color: gray;
}

td{
	background-color: red;
	padding-top: 1%;
	padding-bottom: 1%;
}
.lo{
	background-color: blue;
}

  
li {
    list-style-image: url('star.png');
}

.left{
	text-align: left;

}
    
 .titre{
    color: red;
    display: block;
    background-color: lightgray;
    padding: 0;
     
    
}
    
    #u {
        width: 17%;
        height: auto;
        float: left;
        margin-top: -7%;
        margin-left:-2%;
    }
    
    div{
         border: solid;
 border-color: blue;
 border-width: 2px;
         margin: 1%;
    }
    hr{
        display: none;
    }
  

    .titre {
        display: none;
    }
    #coordennees {
        width: 50%;
        float: left;
    }
    #formations {
        float: left;
        width: 45%;
    }
     #activites {
         float: left;
          width: 50%;
        
    }
    #langue {
        width: 31%;
        float: left;
    }
}